<div class="post">
  <div class="post-title">
    <p><h3><%= post.title %></h3>
      Posted by <%= post.user.email %>
    </p>
  </div>
  <div class="post-spam-flag">
    <% if post.flagged_by?(current_user) %>
      <p>Thanks for flagging this post as spam.</p>
    <% else %>
      <%= link_to "Flag as spam", spam_flags_path(post_id: post.id), method: :post %>
    <% end %>
  </div>
  <div class="post-body">
    <p><%= post.body %></p>
  </div>
</div>
