<div id="title">
  <p> <h3><%= post.title %></h3>
    Posted by <%= post.user.email %>
  </p>
</div>
<div id="body">
  <p><%= post.body %></p>
  <% if post.image? %>
    <%= image_tag post.image.url, width: "200px" %>
  <% end %>
</div>
