@import "bootstrap-sprockets";
@import "bootstrap";
@import "variables";

/* general stuff */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}
a {
  color: $text-color;
  text-decoration: none;
}

a:hover {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.5em;
  letter-spacing: -0.5px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: lighten($text-color, 50%);
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 2em;
  color: $text-color;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}
nav a {
  text-decoration: none;
  font-weight: bold;
  letter-spacing: -1px;
  margin-right: 10px;
  padding-top: 20px;
  line-height: 1;
}

/* Locations */

.location-name {
  font-size: 3em;
  background-color: $background-color;
  color: $text-color;
}
.list-group-item {
  background-color: lighten($background-color, 30%); 
}
