<%= link_to "New Post", new_location_category_post_path(@location, @category) %>

<h2><%= @category.name %></h2>

<% @posts.each do |post|%>
  <div>
    <%= link_to post.title, post %>
  </div>
<% end %>

<div>
  <%= paginate @posts %>
</div>

