<% if current_user.admin? %>
  <%= link_to "New Category", new_admin_location_category_path(@location) %>
<% end %>

<div class="location-name">
  <%= @location.name %>
</div>

<div class="categories">
  <ul class="list-group">
    <% @location.categories.each do |category| %>
      <li class="list-group-item">  <%= link_to category.name, [@location, category] %> </li>
    <% end %>
  </ul>
</div>
