<div>
  <h2><%= @location.name %></h2>
</div>

<% if current_user.admin? %>
  <%= link_to "New Category", new_admin_location_category_path(@location) %>
<% end %>

<% @location.categories.each do |category| %>
  <div>
    <%= category.name %>
  </div>
<% end %>
